<div class="container">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="field">
      <label class="label">Enter email</label>
      <input
        class="input"
        [ngClass]="{'is-danger': emailControl.invalid && emailControl.touched}"
        required
        type="email"
        name="email"
        [(ngModel)]="email"
        pattern=".+@.+\..+"
        #emailControl="ngModel" />
      <ng-container
        *ngIf="emailControl.invalid && emailControl.touched">
        <div *ngIf="emailControl.errors!.required" class="help is-danger">
          This field is required.
        </div>
        <div *ngIf="emailControl.errors!.pattern" class="help is-danger">
          Invalid email format.
        </div>
      </ng-container>
    </div>
    <button
      [disabled]="emailForm.invalid"
      class="button is-primary">
      Submit
    </button>
  </form>
</div>



<!-- For development -->
<!-- <div>Form is valid? {{emailForm.valid}} </div>
<div>Form values: {{emailForm.value | json}} </div>
<div>Email validation errors: {{emailForm.controls.email.errors | json}} </div> -->